/* src/App.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100%;
  margin: 0;
  padding: 0;
}

.about-content,
.anime-grid,
.skills-grid,
.projects-grid,
.contact-form,
.about-container {
  width: 90%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}